* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    scroll-padding-top: 108px;
}

#navbar {
    display: block;
    overflow: hidden;
    background-color: #f1f1f1;
    /* padding: 90px 10px; */
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

#navbarMobile {
    display: none;
}

#navbar-right {
    float: right;
}

.margin-top {
    margin-top: 149px;
}

.active {
    background-color: #04AA6D;
    color: white;
}

.justify-center {
    text-align: center;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.border {
    border: 2px solid red;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* margins */
.my-1 {
    margin-top: .3em;
    margin-bottom: .3em;
}

.my-2 {
    margin-top: .5em;
    margin-bottom: .5em;
}

.my-3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.my-4 {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.my-5 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.box {
    padding: 30px;
}

.blue {
    background: royalblue;
}

.green {
    background: seagreen;
}

.yellow {
    background: yellowgreen;
}

.orange {
    background: lightsalmon;
}

/* col */
.col-12 {
    flex: 100%;
}

.col-6 {
    flex: 50%;
}

.col-4 {
    flex: 33.33%;
}

.col-3 {
    flex: 25%;
}

.col-2 {
    flex: 16.67%;
}

.col-1 {
    flex: 8.33%;
}

/* lg */
@media screen and (max-width: 1200px) {
    .col-lg-12 {
        flex: 100%;
    }

    .col-lg-6 {
        flex: 50%;
    }

    .col-lg-4 {
        flex: 33.33%;
    }

    .col-lg-3 {
        flex: 25%;
    }

    .col-lg-2 {
        flex: 16.67%;
    }
}

/* md */
@media screen and (max-width: 992px) {
    .col-md-12 {
        flex: 100%;
    }

    .col-md-6 {
        flex: 50%;
    }

    .col-md-4 {
        flex: 33.33%;
    }

    .col-md-3 {
        flex: 25%;
    }

    .col-md-2 {
        flex: 16.67%;
    }
}

/* sm */
@media screen and (max-width: 768px) {
    .col-sm-12 {
        flex: 100%;
    }

    .col-sm-6 {
        flex: 50%;
    }

    .col-sm-4 {
        flex: 33.33%;
    }

    #content {
        margin-top: 0;
        padding-top: 0;
    }
}

/* xs */
@media screen and (max-width: 576px) {
    #wrapper {
        scroll-padding-top: 78px !important;
    }

    #navbar {
        display: none;
    }

    #navbarMobile {
        display: block;
        overflow: hidden;
        background-color: #F1F1F1;
        padding: 10px 10px;
        transition: 0.4s;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
    }

    .margin-top {
        margin-top: 384px;
    }

    .nav-item {
        padding: 20px;
    }

    #navbar-right {
        float: right;
        list-style-type: none;
    }

    #navbar-right>li {
        display: inline;
    }

    .col-xs-12 {
        flex: 100%;
    }

    .col-xs-6 {
        flex: 50%;
    }
}