$primary-color: #155DE9;
$secondary-color: #8AAEF4;
$tertiary-color: lightsalmon;
$success-color: lightgreen;
$warning-color: rgb(255, 166, 0);
$error-color: #DC3545;
$background-color: #E7EEFC;

// $dark-color: #53677A;
$dark-color: #261f44;