@use 'colors';

#navbar {
    // position: sticky;
    position: sticky;
    top: 0;
    display: block;
    overflow: hidden;
    // background-color: red;
    background-color: colors.$primary-color;
    /* padding: 90px 10px; */
    transition: 0.4s;
    // position: fixed;
    width: 100%;
    // top: 0;
    z-index: 99;
    // border: 2px solid blue
}

#navbar2 {
    // position: sticky;
    position: sticky;
    top: 0;
    display: block;
    overflow: hidden;
    // background-color: red;
    background-color: colors.$primary-color;
    /* padding: 90px 10px; */
    transition: 0.4s;
    // position: fixed;
    width: 100%;
    // top: 0;
    z-index: 99;
    // border: 2px solid blue
}

#navWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}

#navbarMobile {
    display: none;
}

// #navbar-right {
//     float: right;
// }

#navItems {
    display: flex;
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: flex;
        align-items: center;
        padding: 0em;
        padding: .5em;

        a {
            text-decoration: none;
            font-size: 1.2em;
            font-weight: lighter;
            color: #FFF;
        }

        &:hover {
            background-color: colors.$secondary-color;
            cursor: pointer;
            transform: translateX(0) skewX(-12deg);

            a {
                transform: translateX(0) skew(12deg);
            }
        }

        &.active {
            background-color: colors.$secondary-color;
            transform: translateX(0) skewX(-12deg);

            a {
                transform: translateX(0) skew(12deg);
            }
        }
    }
}

.margin-top {
    // margin-top: 149px;
}

.dropdown {
    float: left;
    overflow: hidden;
    // border: 1px solid orange;
}

.dropdown .dropbtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    // font-size: 16px;
    font-size: .8em;
    border: none;
    outline: none;
    color: white;
    // padding: 14px 16px;
    // padding: .5em;
    // background-color: inherit;
    background-color: colors.$primary-color;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    // background-color: green;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: fixed;
    font-size: .6em;
    background-color: colors.$primary-color;
    padding: 1em;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    // border: 2px dashed green;
    left: auto;
    right: 0;
    margin-top: 82px;
    margin-right: 16px;
    z-index: 9999;
}

.dropdown-content:hover {
    background-color: colors.$secondary-color;
}

.dropdown-content a {
    float: none;
    color: black;
    // padding: 12px 16px;
    padding: .3em;
    text-decoration: none;
    display: block;
    text-align: left;
    // border: 1px solid yellow;
}

.dropdown {
    transform: none !important;

    .dropdown-content {
        a {
            transform: none !important;
        }

        &:hover {
            transform: none !important;

            a {
                transform: none !important;
            }
        }
    }
}

.show {
    // display: block;
    display: flex;
}

.dropdown-content-mobile {
    display: none;
    /* display: block; */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    // border: 2px dashed green;
    padding-left: 0;
    list-style-type: none
}

.show-dropdown-content-mobile {
    display: block;
    /* background: yellow; */
}

/* sm */
@media screen and (max-width: 768px) {
    #content {
        margin-top: 0;
        padding-top: 0;
    }
}

/* xs */
@media screen and (max-width: 576px) {
    #wrapper {
        scroll-padding-top: 78px !important;
    }

    #navbar {
        display: none;
    }

    #navbarMobile {
        position: sticky;
        top: 0;
        display: block;
        overflow: hidden;
        background-color: colors.$primary-color !important;
        transition: 0.4s;
        width: 100%;
        z-index: 99;
        max-height: 300px;
        overflow-y: auto;
    }

    // #navbarMobile2 {
    //     display: block;
    //     position: sticky;
    //     top: 0;
    //     overflow: hidden;
    //     background-color: colors.$primary-color !important;
    //     padding: 10px 10px;
    //     transition: 0.4s;
    //     position: fixed;
    //     width: 100%;
    //     z-index: 99;
    //     max-height: 300px;
    //     overflow-y: auto;
    //     // border: 2px solid purple;
    // }

    #navWrapperMobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;

        a {
            color: #fff;
            float: right;
            font-size: 2.5em;
            padding: 0 0.5em
        }
    }

    #navItemsMobile {
        // background-color: colors.$secondary-color;
        background-color: #FFF;
        // color: #FFF;
        max-height: 0;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100%);
        list-style-type: none;
        margin: 0;

        li {
            padding: 20px;

            a {
                text-decoration: none;
                color: colors.$primary-color;

            }
        }
    }

    .margin-top {
        // margin-top: 384px;
    }

    .nav-item {
        // padding: 20px;
    }

    #navbar-right {
        // float: right;
        // list-style-type: none;
    }

    #navbar-right>li {
        // display: inline;
    }
}