@use 'colors';

#navbar {
    // position: sticky;
    display: block;
    overflow: hidden;
    // background-color: red;
    background-color: colors.$primary-color;
    /* padding: 90px 10px; */
    transition: 0.4s;
    position: fixed;
    width: 100%;
    // top: 0;
    z-index: 99;
    // border: 2px solid blue
}

#navbarMobile {
    display: none;
}

#navbar-right {
    float: right;
}

#nav-items {
    display: flex;
    // align-items: center;
    align-items: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;
    // border: 2px solid green;
    // display: block;
    // height: 100%;



    li {
        // display: block;
        // height: 100%;
        display: flex;
        align-items: center;
        padding: 0em;
        // border: 2px solid red;
        padding: .5em;
        // background-color: colors.$secondary-color;



        a {
            text-decoration: none;
            font-size: 1.2em;
            font-weight: lighter;
            color: #FFF;
        }

        &:hover {
            // color: #000;
            background-color: colors.$secondary-color;
            cursor: pointer;
            transform: translateX(0) skewX(-12deg);

            a {
                transform: translateX(0) skew(12deg);
            }
        }

        &.active {
            background-color: colors.$secondary-color;
            transform: translateX(0) skewX(-12deg);

            a {
                transform: translateX(0) skew(12deg);
            }
        }
    }
}

.margin-top {
    margin-top: 149px;
}

.dropdown {
    float: left;
    overflow: hidden;
    // border: 1px solid orange;
}

.dropdown .dropbtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    // font-size: 16px;
    font-size: .8em;
    border: none;
    outline: none;
    color: white;
    // padding: 14px 16px;
    // padding: .5em;
    // background-color: inherit;
    background-color: colors.$primary-color;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    // background-color: green;
    background-color: inherit;
}

.dropdown-content {
    display: none;
    position: fixed;
    font-size: .6em;
    background-color: colors.$primary-color;
    padding: 1em;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    // border: 2px dashed green;
    left: auto;
    right: 0;
    margin-top: 82px;
    margin-right: 16px;
    z-index: 9999;
}

.dropdown-content:hover {
    background-color: colors.$secondary-color;
}

.dropdown-content a {
    float: none;
    color: black;
    // padding: 12px 16px;
    padding: .3em;
    text-decoration: none;
    display: block;
    text-align: left;
    // border: 1px solid yellow;
}

.dropdown {
    transform: none !important;

    .dropdown-content {
        a {
            transform: none !important;
        }

        &:hover {
            transform: none !important;

            a {
                transform: none !important;
            }
        }
    }
}

.show {
    // display: block;
    display: flex;
}

.dropdown-content-mobile {
    display: none;
    /* display: block; */
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    // border: 2px dashed green;
}

.show-dropdown-content-mobile {
    display: block;
    /* background: yellow; */
}

/* sm */
@media screen and (max-width: 768px) {
    #content {
        margin-top: 0;
        padding-top: 0;
    }
}

/* xs */
@media screen and (max-width: 576px) {
    #wrapper {
        scroll-padding-top: 78px !important;
    }

    #navbar {
        display: none;
    }

    // #navbarMobile2 {
    //     position: sticky;
    //     top: 0;
    //     max-height: 300px;
    //     overflow-y: auto;
    //     border: 2px solid purple
    // }

    #navbarMobile {
        display: block;
        // position: sticky;
        // overflow: hidden;
        background-color: colors.$primary-color !important;
        padding: 10px 10px;
        transition: 0.4s;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 99;
        max-height: 300px;
        overflow-y: auto;
        // border: 2px solid purple;
    }

    #nav-items-mobile {
        // background-color: colors.$secondary-color;
        background-color: #FFF;
        // color: #FFF;

        li {
            padding: 20px;

            a {
                text-decoration: none;
                color: colors.$primary-color;

            }
        }
    }

    .margin-top {
        margin-top: 384px;
    }

    .nav-item {
        padding: 20px;
    }

    #navbar-right {
        float: right;
        list-style-type: none;
    }

    #navbar-right>li {
        display: inline;
    }
}